
$ff-sans: Lato, "Helvetica Neue", Helvetica, sans-serif;

$fw-thin: 100; // ?
$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;
$fw-ultrabold: 900; // ?

$light: #fafafa;
$dark: #000;

$brand-color: #D62650;